* {
    box-sizing: border-box;
}

body{
    margin: 0%;
    background-image: url(back.jfif);
    background-size: cover;
    font-family: "Poppins", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
}
.MainContainer{
    height: 50%;
    width: 40%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    background-color: rgba(0, 0, 0, 0.719);
    color: blanchedalmond;
    padding: 5%;
    border: black;
    border-radius: 10%;
}
#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
  }
#nav{
    width: 100%; height: 20%;
    background-color: rgba(6, 0, 12, 0.61);
    font-family: 'Times New Roman', Times, serif;
    color: rgb(248, 183, 4);
    font-weight: bolder;
    text-align: center;
    padding: 1rem 0;
    font-size: 60px;
    transition: transform 0.3s ease-in;
    
  }
.Logo{
    text-align: justify;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.LogoClass{
    padding: 2%;
}
.diff{
    background-color: red;
    --c:goldenrod;
    color:var(--c);
    font-size: 30px;
    border: 0.1em solid var(--c);
    border-radius: 0.1em;
    font-weight: bold;
    font-family: sans-serif;
    transition: 0.5s;
    margin: 1em;
}